/* CSS files --> projects.html */
body{
    background-color: #ffffff;
}
.table-menu{
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    min-width:535px;
    background-color: rgb(73, 134, 100);
    position:relative;
    
}
ul {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    min-width:535px;
    
    position:relative;
}
a {
    display: block;
    padding: 25px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    text-shadow:1px 0px rgba(black,.4);
    color: #000000;
    letter-spacing:.2em;
    text-decoration: none;
}

h1{
    text-align: center;
    font-family: cursive;
    background-color: rgb(17, 155, 24);
} 
h4{
    text-align: center; 
    font-family: Aclonica; 
    font-weight: normal;
}
h5{ 
    text-align: center; 
    font-family: Aclonica; 
    font-weight: normal;
}
p{
    text-align: center;     
}